---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: serif;
$base-font-size:   15pt;
$small-font-size:  $base-font-size * 0.9;
$base-line-height: 1.6;

$spacing-unit:     1em;

$text-color:       #222;
$background-color: #fefefe;
$brand-color:      #2a7ae2;

$grey-color:       #444;

$on-palm:          600px;
$on-laptop:        800px;

$max-width:        100ex;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
