---
layout: default
---

<div class="home">

  <h1 class="chapter-heading">Chapter 0: Why and how</h1>
  <ul class="post-list">
    <li><a href="/chapter0/why_cpp.html">Why should I learn C++?</a></li>
    <li><a href="/chapter0/what.html">What does this tutorial cover?</a></li>
    <li><a href="/chapter0/setup.html">Setting up your system</a></li>
    <li><a href="/chapter0/hello.html">Hello, world!</a></li>
    <li><a href="/chapter0/contributing.html">This guide is missing something!</a></li>
  </ul>

  <h1 class="chapter-heading">Chapter 1: The basics</h1>
  <p>
  Variables, basic control flow, and functions.
  The basics for any programming language.
  </p>
  <ul class="post-list">
    <li><a href="/chapter1/variables.html">Variables</a></li>
    <li><a href="/chapter1/operators.html">Operators</a></li>
    <li><a href="/chapter1/conditionals.html">Conditionals</a></li>
    <li><a href="/chapter1/loops.html">Loops</a></li>
    <li>Functions</li>
  </ul>

  <h1 class="chapter-heading">Chapter 2: Data structures and algorithms</h1>
  <ul class="post-list">
    <li>Data types</li>
    <li>Lists and range-based loops</li>
    <li>Algorithms</li>
    <li>Lambdas</li>
  </ul>

  <h1 class="chapter-heading">Chapter 3: Classes</h1>
  <ul class="post-list">
    <li>Intro to classes</li>
    <li>Operator overloading</li>
    <li>Encapsulation</li>
    <li>Object-oriented programming is like pants-oriented clothing</li>
  </ul>

  <hr>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
