<script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<noscript>Please enable JavaScript to view <a href="http://www.mathjax.org/">equations powered by MathJax</a></noscript>
