/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color;
    border-bottom: 1px solid $grey-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    font-weight: bold;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $text-color;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    font-family: sans-serif;
    border-top: 1px solid $grey-color;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: $small-font-size;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: $small-font-size * 0.9;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: calc(25% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit;
    width: calc(15% - (#{$spacing-unit} / 2));

    > a, > img { // Center the CC-BY-SA image
      display: block;
      margin: auto;
    }
}

.footer-col-3 {
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-4 {
    width: calc(40% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1 {
        width: calc(30% - (#{$spacing-unit} / 2));
    }

    .footer-col-2 {
        width: calc(20% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-4 {
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    margin: $spacing-unit auto;
}

.post-list {
    font-size: $base-font-size * 1.2;
    line-height: 1.4;
    margin-left: 0;
    list-style: none;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    margin-bottom: $spacing-unit * 2;
}

.post-link {
    display: block;
    font-size: 24px;
    margin-bottom: $spacing-unit / 2;
}

.rss-subscribe {
    margin-top: $spacing-unit * 2;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-content {
    margin-bottom: $spacing-unit;

    // h4 is the same size as normal text in many cases,
    // so bold it to differentiate it.
    h4 {
        font-weight: bold;
    }
}
